name: Mergdata Monitor Deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Mergdata Monitor Deploy
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TEST_SERVER_HOST }}
          username: ${{ secrets.TEST_SERVER_USERNAME }}
          password: ${{ secrets.TEST_SERVER_PASSWORD }}
          port: 22
          script_stop: true
          script: |
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            nvm use v16.14.0
            rm -rf deploy.log
            cd /var/www/apps/mergdata-monitor && nohup ./deploy.sh > deploy.log

